
body
/*h1,
h2,
strong*/ {
    font-family: Helvetica;

}
/*  h3 and p were not defined so I figured I'll leave them in their standard font-family of Times New Roman, but than i would look like the template. */

h1 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.font {
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.brush {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

strong {
    color: blue;
    font-weight: bold;
}